<form action="{{callbackuri}}" method="post" id="password-form">

<input type="password" id="password" name="password" placeholder="Enter your password" required minlength="1" autocomplete="current-password">
  <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
  <div class="cf-turnstile" data-sitekey="0x4AAAAAACxBew8Lvrla-MB3" data-theme="dark"></div>
<button type="submit" id="password-submit" >Next</button>
</form>

<script>
  
</script>