<!doctype html>
<html lang="en" data-theme="dark">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">

  <title>JohnnyID - {{stage}}</title>
  <style>
    #right-login-form {
      position: absolute;
      right: 0;
      top: 0;
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #left-media-content {
      position: absolute;
      left: 0;
      top: 0;
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      background-color: #111318;
      overflow: hidden;
    }
    #left-media-content img {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
      object-fit: contain;
      display: block;
      margin: auto;
      border-radius: 1rem;
    }
  </style>
<script
  src="https://js-de.sentry-cdn.com/7826562e2ee5c1f03edfefa0c4caf4cf.min.js"
  crossorigin="anonymous"
></script>
</head>

<body>
  <main>
    <div id="right-login-form">
    <article>

        <h1 class="sentry-unmask">Access JohnnyTech.</h1>
        <h4 class="sentry-unmask">{{stage}}</h4>
        {{formhtml | safe}}
    </article>
    </div>
    <div id="left-media-content">
      <img src="{{ url_for('static', filename='pdsh.png') }}" alt="PDSH">
    </div>
  </main>

  <script
    src="https://browser.sentry-cdn.com/10.46.0/bundle.tracing.replay.min.js"
    crossorigin="anonymous"
  ></script>
  <script>
    Sentry.init({
      dsn: "https://7826562e2ee5c1f03edfefa0c4caf4cf@o4510961581162496.ingest.de.sentry.io/4511114260054096",
      integrations: [
        Sentry.replayIntegration(),
      ],
      tracesSampleRate: 1.0,
      replaysSessionSampleRate: 0.1,
      replaysOnErrorSampleRate: 1.0,
    });
  </script>
</body>
</html>