<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">

  <title>JohnnyID - {{stage}}</title>
  <style>
    #right-login-form {
      position: absolute;
      right: 0;
      top: 0;
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #left-media-content {
      position: absolute;
      left: 0;
      top: 0;
      width: 50%;
      height: 100%;
    }
  </style>
<script
  src="https://js-de.sentry-cdn.com/7826562e2ee5c1f03edfefa0c4caf4cf.min.js"
  crossorigin="anonymous"
></script>
<script>
  Sentry.replayIntegration({
  unblock: [".sentry-unblock", "[data-sentry-unblock]"],
  unmask: [".sentry-unmask", "[data-sentry-unmask]"],
});
</script>
</head>

<body>
  <main>
    <div id="right-login-form">
    <article>

        <h1 class="sentry-unmask">Access JohnnyTech.</h1>
        <h4  class="sentry-unmask"></h4>{{stage}}</h3>
        {{formhtml | safe}}
    </article>
    </div>
    <div id="left-media-content"></div>
  </main>
</body>
</html>